@model HCS.StaffManagement.Models.Client

@{
    ViewBag.Title = "GetClient";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="container-fluid">
            <div class="row">
                <button class="btn btn-outline-dark btn-dark" id="btnaddClient">
                    <i class="material-icons">person_add</i>
                    Add Client
                </button>
            </div>
          
                <table id="tblGetClient" class="table-style table-striped table-bordered nowrap" style="width:100%"></table>
          
        </div>
    </div>
</div>

<script src="~/Scripts/AppScripts/Common.js"></script>
<script src="~/Scripts/Client/Client.js"></script>