@model HCS.StaffManagement.Models.Client

@{
    ViewBag.Title = "GetClientDetails";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}
<div class="container-fluid">
    <div class="card">
        <div class="row col-md-12 col-sm-12 col-lg-12 col-xl-12">
            <label>Client Details</label>
            <table class="table table-bordered" id="tblGetClient"></table>
        </div>
    </div>
</div>

<script src="~/Scripts/AppScripts/Common.js"></script>
<script src="~/Scripts/Client/Client.js"></script>