
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}

<head>
    <title></title>
    <meta charset="utf-8" />

    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" />
        <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
            <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>*@
    <style>
        .table-style {
            width: 100% !important;
            max-width: 100% !important;
            margin-bottom: 2rem !important;
            background-color: transparent !important;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="card container-fluid">
        <div class="row">
            <button class="btn btn-outline-dark btn-dark" id="addEmployee">
                <i class="material-icons">person_add</i>
                Add Employee
            </button>
        </div>
        <table id="tblGetEmployee" class="table-style table-striped table-bordered nowrap" sytle="width:100%"></table>
   
    </div>
    </div>

<script src="~/Scripts/AppScripts/Common.js"></script>
<script src="~/Scripts/Employee/Employee.js"></script>



