
@{
    ViewBag.Title = "GetReport";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}


<div class="container-fluid">

    <div class="card container-fluid">
        <div class="row col-md-3">
            
        </div>
        @*<div class="row">
            <button class="btn btn-outline-dark btn-dark" id="addEmployee">
                <i class="material-icons">person_add</i>
                Add Employee
            </button>
        </div>*@
        <table id="tblReport" class="table-style table-striped table-bordered nowrap" sytle="width:100%"></table>

    </div>
</div>

<script src="~/Scripts/AppScripts/Common.js"></script>
<script src="~/Scripts/Report/Report.js"></script>
