
@{
    ViewBag.Title = "AdminDashboard";
    Layout = "~/Views/Shared/_AdminLandingPage.cshtml";
}

<style>
    .disabled {
    /*display:inline-block;*/
    cursor: not-allowed;
    pointer-events: none;       
    opacity: 0.6;   
}
</style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 style="text-align:left; color:black">Hi User, Welcome to <b>Staff Management System!</b></h2>
            </div>
        </div>
        <div class="container-fluid card">

            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href=@Url.Action("Employee","Employee")>
                        <div class="card card-stats btn-outline-info">
                            @*<div>
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">group</i>
                        </div>
                    </div>*@
                            <div class="card-content">
                                <h3 class="card-title center-align">Employees</h3>
                            </div>

                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    @*<a href=@Url.Action("Payslip","Payslip") class="disabled">*@
                    <a href="#" class="disabled">
                        <div class="card card-stats btn-outline-info">
                            @*<div>
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">group</i>
                    </div>
                </div>*@
                            <div class="card-content">
                                <h3 class="card-title center-align">Generate Payslip</h3>
                            </div>

                        </div>
                    </a>
                </div>



                <div class="col-lg-3 col-md-6 col-sm-6">
                    @*<a href=@Url.Action("PayslipDownload","Payslip") class="disabled">*@
                    <a href="#" class="disabled">
                        <div class="card card-stats btn-outline-info">
                            @*<div>
                    <div class="card-header" data-background-color="rose">
                        <i class="material-icons">move_to_inbox</i>
                    </div>
                </div>*@
                            <div class="card-content">
                                <!-- <p class="category">Revenue</p> -->
                                <h3 class="card-title center-align">Download</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    @*<a href=@Url.Action("ReportGet","Report") class="disabled">*@
                    <a href="#" class="disabled">
                        <div class="card card-stats btn-outline-info">
                            @*<div>
                    <div class="card-header" data-background-color="purple">
                        <i class="material-icons">list_alt</i>
                    </div>
                </div>*@
                            <div class="card-content">
                                <!-- <p class="category">Followers</p> -->
                                <h3 class="card-title center-align">Reports</h3>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                    <a href=@Url.Action("Client","Client")>
                        <div class="card card-stats btn-outline-info">
                            @*<div>
                        <div class="card-header" data-background-color="orange">
                            <i class="material-icons">list_alt</i>
                        </div>
                    </div>*@
                            <div class="card-content">
                                <h3 class="card-title center-align">Client</h3>
                            </div>

                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    @*<a href=@Url.Action("","") class="disabled">*@
                    <a href="#" class="disabled">
                        <div class="card card-stats btn-outline-info">
                            <div class="card-content">
                                <h3 class="card-title center-align">Utilities</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



@*<script src="../../Scripts/Payslip/ViewDownloadPayslip.js"></script>*@


